/* You can add global styles to this file, and also import other style files */
/*
color palette
  #844D36
  #474853
  #86B3D1
  #AAA0A0
  #8E8268
  */

body {
  font-family: "Open Sans", sans-serif;
  color: #666;
}

img {
  border-radius: 25px;
  max-height: 300px;
  margin-bottom: 20px;
}

p {
  width: 100%;
  padding-left: 20px;
  color: black;
}
h1,
h2,
h3 {
  width: 100%;
  padding-left: 20px;
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

h1 {
  background-color: white;
}

span {
  text-align: center;
  padding-right: 20px;
  overflow: hidden;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

.myBody {
  background-color: #c9c0ab;
  border: groove white;
  border-width: 20px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 10px;
}

.underline {
  text-decoration: underline;
  font-size: 20px;
  text-transform: uppercase;
  background-color: white;
}

.tableData {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

.tableData td,
.tableData th {
  border: 1px solid black;
  padding: 8px;
}

.tableData tr {
  background-color: white;
}

.tableData tr:hover {
  background-color: #aaa0a0;
}

.tableData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8e8268;
  color: black;
}

.myNavbar li {
  font-size: 30px;
  border: solid;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}

#myNavToggler {
  width: 100%;
  background-color: #c9c0ab;
  border: groove white;
  border-width: 20px;
  border-radius: 40px 40px 40px 40px;
}

.myNavbar li {
  background-color: #8e8268;
  text-align: center;
  border: groove white;
  border-width: 20px;
  border-radius: 40px 40px 40px 40px;
  width: 100%;
  vertical-align: middle;
}

.myNavbar li:hover {
  background-color: #c9c0ab;
}

.myNavbar a {
  text-transform: uppercase;
  font-weight: bold;
}

.appLink {
  margin-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.appLink p {
  float: right;
  font-size: 20px;
}

.appLink a {
  font-weight: bold;
}

.customAppLink {
  background-color: #c9c0ab;
  border: groove white;
  margin-left: 20px;
  border-radius: 40px 40px 40px 40px;
  border: groove white;
  background-color: lightgray;
  width: 95%;
  margin-bottom: 10px;
  border-width: 20px;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.customAppLink iframe {
  overflow-x: scroll;
  min-height: 350px;
  margin-left: 20px;
  margin-top: 20px;
}

.customAppLink a {
  margin-left: 20px;
  margin-top: 20px;
  color: #333333;
}

#store {
  border: groove white;
  background-color: lightgray;
  width: 95%;
  margin-left: 20px;
  margin-bottom: 10px;
  border-width: 20px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 10px;
}

#linkImage {
  width: 80px;
}

#linkProgram {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

#source {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 3px solid #cccccc;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #cccccc;
  font-size: 16px;
}

.button:hover {
  background-color: #c9c0ab;
  text-decoration: none;
  color: white;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

app-footer ~ * {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* STRUCTURE 3 Column Responsive Layout*/
.wrapper {
  max-width: auto;
  width: 95%;
  margin: 20px auto;
}
header {
  padding: 0 15px;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}
.column {
  flex: 1;
  margin: 2px;
  padding: 10px;
}
.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}
footer {
  padding: 0 15px;
}
@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 0 0;
  }
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}