<div class="myBody">
  <div>
    <p class="underline">Philippe Van Vlierberghe:</p>
      <ul>
          <li>Hoogland 137, 3118 Werchter</li>
          <li>016 53 19 58</li>
          <li>0476 90 60 34</li>
          <li>Philippe.vv@outlook.com</li>
      </ul>  
  </div>
<br />
  <div>
    <p class="underline">Joris Meuleman (jobcoach):</p>
    <ul>
          <li>Schoolstraat 1, 3200 Aarschot</li>
          <li>Jobcoach bij Synkroon Aarschot</li>
          <li>016 570 560</li>
          <li>joris.meuleman@synkroon.be</li>
      </ul>  
  </div>
<br />
  <div>
    <p class="underline">Chantal Pans (referentie):</p>
    <ul>
          <li>ex-stagementor bij UZ-Leuven</li>
          <li>chantal.pans@uzleuven.be</li>
      </ul>  
  </div>

</div>
<footer>
  <app-footer></app-footer>
</footer>