<div class="myBody">
  <p class="underline">Store:</p>
  <div *ngFor="let file of files" id="store">
    <div *ngIf="file.tag == 'Java'">
      <div class="appLink">
        <table>
          <tr>
            <th id="linkImage">
              <img src="{{ file.icon }}" alt="{{ file.tag }}" />
            </th>
            <th id="linkProgram">
              {{ file.description | uppercase }} <br />
              <a href="{ {file.path }}" class="button">{{
                file.name | uppercase
              }}</a>
              <a href="{{ file.sourcecode }}" class="button">
                GET THE SOURCE CODE
              </a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="customAppLink" *ngFor="let myAppLink of myAppLinks">
    <table>
      <tr>
        <th>
          <a href="{{ myAppLink.source }}">{{ myAppLink.name | uppercase }}</a>
          <iframe
            width="95%"
            scrolling="auto"
            [src]="myAppLink.link | safe"
          ></iframe>
        </th>
      </tr>
      <tr>
        <a href="{{ myAppLink.sourcecode }}" class="button">
          GET THE SOURCE CODE
        </a>
      </tr>
    </table>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
