<div class="myBody">
  <h1>Philippe Van Vlierberghe</h1>
  <br />
  <p class="underline">Wie ben ik?</p>
  <div class="wrapper">
    <section class="columns">
      <div class="column" *ngFor="let photo of photos">
        <img src="{{ photo.path }}" alt="{{ photo.tag }}" />
      </div>
    </section>
    <section class="columns">
      <div class="column">
        <h2><span>Software developer, BI-data analyst</span></h2>
        <p>
          Hallo, ik ben Philippe aangenaam kennis te maken. Sinds ik afstudeerde
          aan de Thomas More Hogeschool Mechelen met het bachelor diploma
          Informatiemanagement en Multimedia heb ik kennis kunnen maken met de
          bedrijfswereld. Dankzij zowel praktijkervaring als zelfstudie heb ik
          mijn passie voor softwareontwikkeling ontdekt. Graag nodig ik u uit om
          door deze interactieve web-portfolio te bladeren en mij zo beter te
          leren kennen als professional.
        </p>
      </div>
    </section>
  </div>

  <p class="underline">Zelfkennis is het begin van alle wijsheid!</p>
  <div class="wrapper">
    <section class="columns">
      <h2>Sterktes en zwaktes</h2>

      <div class="column">
        <p>+ Pluspunten</p>
        <ul>
          <li>Een snel, fantasierijk en strategisch denkvermogen.</li>
          <li>Veel zelfvertrouwen.</li>
          <li>Zelfstandig en besluitvaardig.</li>
          <li>Een harde werker en vastberaden.</li>
          <li>Ik kijk met een open blik naar de wereld.</li>
          <li>Ik ben een manusje van alles.</li>
        </ul>
      </div>

      <div class="column">
        <img
          src="../assets/yinYang.gif"
          class="rotate"
          alt="YingYang"
          style="height:100%; "
        />
      </div>

      <div class="column">
        <p>- Werkpunten</p>
        <ul>
          <li>Ik kom arrogant over (al is dit niet mijn bedoeling).</li>
          <li>Ik ben zeer kritisch en oordelend over anderen.</li>
          <li>
            Ik heb het moeilijk met het verschil tussen theorie en praktijk.
          </li>
          <li>
            Ik heb een hekel aan het blind volgen van strakke autoritaire
            structuren.
          </li>
        </ul>
      </div>
    </section>
    <section class="columns">
      <h2>Mijn persoonlijkheid</h2>
      <p>
        Via de website
        <a href="https://www.16personalities.com/">www.16personalities.com</a>
        kan je volledig gratis een zeer uitgebreide persoonlijkheidstest maken.
        Deze test zal je een beter inzicht geven in:
        je persoonlijkheid, je sterke en zwakke punten, je relatie,
        je vriendschappen, je ouderschap,
        je beroepskeuze en betere werkplek gewoontes.
        <br />
        <br />
        <a
          class="button"
          href="https://www.16personalities.com/nl/intj-persoonlijkheid"
        >
          Ik ben een INTJ (Architect)
        </a>
      </p>
    </section>
  </div>

  <br />
  <div>
    <h1>
      I love creating beautiful yet intuitive things and that is what I do!
    </h1>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
