<div class="myBody">
  <p class="underline">Behaald diploma:</p>
  <div class="tableData" style="overflow-x:auto;">
    <table>
      <tr>
        <th>Periode</th>
        <th>Opleiding</th>
        <th>School</th>
      </tr>
      <tr>
        <td>2011-2015</td>
        <td>
          <a href="../assets/CV Philippe Van Vlierberghe 2019.pdf"
            >Professionele Bachelor: Informatiemanagement en de Multimedia</a
          >
        </td>
        <td><a href="https://www.thomasmore.be/">Thomas More Mechelen</a></td>
      </tr>
    </table>
  </div>
  <br />

  <p class="underline">Gevolgde cursussen:</p>
  <div class="tableData" style="overflow-x:auto;">
    <table>
      <tr>
        <th>Periode</th>
        <th>Cursus</th>
        <th>Organisatie</th>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{ course.date }}</td>
        <td><a href="{{ course.link }}">{{ course.course }}</a></td>
        <td><a href="{{ course.oragnizationLink}}">{{ course.organization }}</a></td>
      </tr>
    </table>
  </div>
  <br />
  <div class="imageGallery">
    <p class="underline">Trophy Wall:</p>
    <app-image-gallery></app-image-gallery>
  </div>
  <br />
</div>
<footer>
  <app-footer></app-footer>
</footer>