<div class="wall">
  <div class="clear"></div>
  <button (click)="toggleDisplayBabbel()">Babbel</button>
  <div class="section" [hidden]="isShowBabbel">
    <div *ngFor="let image of images">
      <div *ngIf="image.tag == 'Babbel'">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{{ image.path }}">
              <img src="{{ image.path }}" alt="{{ image.tag }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <button (click)="toggleDisplayGobalKnowledge()">Global Knowledge</button>
  <div class="section" [hidden]="isShowGobalKnowledge">
    <div *ngFor="let image of images">
      <div *ngIf="image.tag == 'Global Knowledge'">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{{ image.path }}">
              <img src="{{ image.path }}" alt="{{ image.tag }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <button (click)="toggleDisplaySoloLearn()">SoloLearn</button>
  <div class="section" [hidden]="isShowSoloLearn">
    <div *ngFor="let image of images">
      <div *ngIf="image.tag == 'SoloLearn'">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{{ image.path }}">
              <img src="{{ image.path }}" alt="{{ image.tag }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <!--
<object width="400" height="400" 
archive="../assets/Music old.jar"
classid="java:Run.java"
codetype="application/java">
</object>
--></div>
